<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>게시판 목록보기</title>
  <link rel="stylesheet" href="board.css" />
</head>
<body>
<section class="board">
  <div class="page-title">
    <div class="container">
      <h3>부부 개발단 - 글 목록보기</h3>
    </div>
  </div>

  <div class="login-info">
    <div class="container">
          <span th:if="${logInInfo != null}" class="login-info_user" >
            <span  th:text="${logInInfo.name}" >김성박</span>
          </span>
      <span th:if="${logInInfo != null}" class="login-info_logout">
            <a href="/logout">로그아웃</a>
      </span>
      <span th:if="${logInInfo == null}" class="login-info_login">
            <a href="/loginform">로그인</a>
      </span>
      <span th:if="${logInInfo == null}" class="login-info_join">
            <a href="/userRegForm">회원가입</a>
      </span>
    </div>
  </div>

  <!-- board list area -->
  <div id="board-list">
    <div class="container">
      <table class="board-table">
        <thead>
        <tr>
          <th scope="col" class="th-num">번호</th>
          <th scope="col" class="th-title">제목</th>
          <th scope="col" class="th-viewcnt">조회수</th>
          <th scope="col" class="th-name">작성자</th>
          <th scope="col" class="th-date">등록일</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board : ${list}">
          <td th:text="${board.boardId}">1</td>
          <th>
            <a th:href="@{/board(id=${board.boardId})}" th:text="${board.title}">글제목1</a>
          </th>
          <td th:text="${board.viewCnt}">조회수 1</td>
          <td th:text="${board.name}" >김성박</td>
          <td th:text="${board.regdate}">2023.0406</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div>
      <a href="/writeForm" th:if="${logInInfo != null}">글쓰기</a>
      <span th:if="${logInInfo==null}">글쓰기 - 로그인 하고 가능!</span>
    </div>

    <div>
      <!--1부터 1000까지 페이지가 있을때 너무 많으면 > >> 같은거 생성하기!-->
      <span th:each="n : ${#numbers.sequence(1, pageCount)}">
        <a th:href="@{/(page=${n})}" th:text="${n}" ></a>
      </span>
    </div>
  </div>
</section>
</body>
</html>